/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Estilos do header */
  header {
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  /* Estilos do hero section */
  #hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cta-button {
    display: inline
  }